@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#141414] text-white !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-red-600
  }

  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 transition-all lg:px-[60px] h-[68px]
  }
}

@layer components {
  .header-link {
    @apply cursor-pointer text-sm font-light text-[#e5e5e5] transition duration-[.4s] hover:text-[#7b2d75] select-none text-[13.5px]
  }

  .header-left-container {
    @apply flex items-center space-x-2 md:space-x-10
  }

  .header-right-container {
    @apply flex items-center space-x-[20px] text-sm font-light
  }

  .search-input {
    @apply pl-[35px] h-[35px] outline-0 bg-[#23201d] border-solid border-[1px] transition-all duration-500
  }

  .search-icon {
    @apply h-6 w-6 absolute left-[7px] bottom-[5px] z-10
  }

  .banner {
    @apply flex flex-col pl-4 lg:pl-16 space-y-2 py-16 md:space-y-4 lg:h-[65vh] lg:justify-end lg:pb-12
  }

  .banner-img {
    @apply absolute top-0 left-0 -z-10 h-[95vh] w-screen
  }

  .banner-title {
    @apply text-2xl font-bold md:text-4xl lg:text-6xl
  }

  .banner-button {
    @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
  }

  .overview-paragraph {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    display: -webkit-box;

    @apply overflow-ellipsis overflow-hidden max-w-md text-xs text-shadow-md md:max-w-lg md:text-base lg:max-w-2xl lg:text-lg font-light pr-4 md:pr-0
  }

  .arrow-icon {
    @apply absolute top-0 bottom-0 z-40 m-auto h-9 w-9 cursor-pointer opacity-0 transition hover:scale-125 group-hover:opacity-100
  }

  .card {
    @apply flex items-center space-x-0.5 overflow-x-scroll scrollbar-hide md:space-x-2.5 md:p-2 md:h-[400px]
  }

  .slider {
    @apply h-[10rem] md:h-[15rem] space-y-0.5 md:space-y-2 pl-[-10px]
  }

  .slider-div {
    @apply relative md:-ml-2 pl-4 lg:pl-16
  }

  .slider-title {
    @apply absolute pt-16 w-56 pl-4 lg:pl-16 cursor-pointer text-sm font-semibold text-[#e5e5e5] transition duration-200 hover:text-white md:text-xl
  }

  .slider-icon {
    @apply relative h-28 md:h-36 min-w-[180px] max-h-[400px] cursor-pointer md:min-w-[260px] transition duration-100 ease-out transition rounded duration-200 ease-out rounded-lg shadow-lg bg-[#141414]
  }

  .slider-icon-onHover {
    @apply z-20 scale-x-[130%] scale-y-[140%] transition-all duration-500 ease-out
  }

  .hovered-div {
    @apply p-2 bg-[#141414] rounded-lg
  }

  .hovered-title {
    @apply text-[0.75rem] font-medium mb-2 text-white
  }

  .hovered-play-btn {
    @apply bg-white text-black rounded-[50%]
  }

  .preview-overlay {
    @apply fixed top-0 left-0 w-full h-full bg-black/70 z-[99] m-0 overflow-scroll
  }

  .preview-overlay--contentBox {
    @apply absolute top-[3rem] left-[50%] translate-x-[-50%] h-auto h-[85vh] rounded-2xl overflow-hidden bg-[#111] w-[61%] bottom-0 transition-all duration-500 ease-in-out
  }

  .preview-overlay--videoBox {
    @apply relative w-full h-full
  }

  .preview-overlay--youtube {
    @apply w-full h-full
  }

  .preview-overlay--youtube iframe {
    @apply m-0 m-auto w-full
  }
  
  .preview-overlay--iconBox {
    @apply absolute xl:top-2/3 left-12 items-center sm:top-[55%] md:top-[57%] lg:top-[60%] w-full
  }

  .preview-overlay--iconBox > * {
    @apply mr-[1rem] cursor-pointer
  }

  .mini-preview-iconBox {
    @apply absolute xl:top-[87%] left-[1rem] sm:top-[70%] md:top-[70%] lg:top-[66%]
  }

  .mini-preview-button {
    @apply flex items-center gap-x-1 rounded px-3 py-0.5 text-sm font-semibold transition hover:opacity-75 md:py-1.5 md:px-4 md:text-xl;
  }

  .info__button {
    background-color: rgba(100, 100, 100, 0.5);
    color: inherit;
    font-weight: 500;
    font-family: inherit;
    font-size: 2rem;
    border: none;
    padding: 0.7rem 1rem;
    min-width: 10rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: all 0.1s;
    cursor: pointer;
  }

  .preview-overlay--text {
    bottom: 2%;
    display: block;
    position: absolute;
    padding: 30px 50px;
  }

  .preview-overlay--text h1 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  .preview-overlay--text p {
    line-height: 1.6;
    font-size: 0.8rem;
  }

  .preview-overlay--btnClose {
    border-radius: 100%;
    background: #313131;
    padding: 2px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    font-size: 2rem;
    z-index: 50;
    cursor: pointer;
  }

  .icon-white {
    color: white;
  }

  .icon-black {
    color: #111;
  }

  .icon-black-opacity {
    color: rgba(32, 32, 32, 0.6);
  }

  .info__icon:hover > .icon-black-opacity {
    color: rgba(32, 32, 32, 1);
  }
}
